<div>
    <label>title:
      <input [value]="title" (input)="title = $event.target.value" placeholder="title"/>
    </label>
</div>
<div>
    <label>description:
      <input [value]="description" (input)="description = $event.target.value" placeholder="description"/>
    </label>
</div>
<div>
    <label>Due date:
        <input type="datetime" [ngModel] ="dueDate | date:'yyyy-MM-dd HH:mm'" (ngModelChange)="dueDate = $event">
    </label>
</div>
<button (click)="addTodo()">Add</button>
<button (click)="goBack()">Back</button>